@model VerConsultaViewModel
@{

    Layout = "~/Views/Shared/_pdf.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Formato de Consulta</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .consulta {
            max-width: 1000px;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

            .header-table td {
                border: 1px solid #000;
                padding: 8px;
                text-align: center;
                background-color: #e0f7e0;
            }

        section {
            margin-bottom: 20px;
        }

            section h2 {
                font-size: 18px;
                margin-bottom: 10px;
                background-color: #c0c0ff;
                padding: 5px;
                border: 1px solid #000;
                text-align: left;
            }

            section .subheading {
                font-size: 14px;
                background-color: #f4f4f4;
                padding: 5px;
                margin-bottom: 10px;
                border: 1px solid #000;
            }

            section p {
                border: 1px solid #000;
                padding: 8px;
                background-color: #f9f9f9;
                margin: 0;
                margin-bottom: 10px;
            }

            section table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 20px;
            }

            section table, section th, section td {
                border: 1px solid #000;
                padding: 8px;
                text-align: center;
            }

            section th {
                background-color: #c0c0ff;
            }

            section td:nth-child(odd) {
                background-color: #ffffcc;
            }

            section td:nth-child(even) {
                background-color: #e0f7e0;
            }

        .familiares td {
            background-color: #ffffcc;
        }

        .signos td {
            background-color: #e0f7e0;
        }

        footer {
            text-align: center;
            font-size: 12px;
            color: #666;
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="section">
        <div class="consulta">
            <h2>Formato de Consulta</h2>
            <p>
                <strong>Nombre del Paciente: @Model.PacienteNombre @Model.PacienteApellido</strong> <br>
                <strong>Fecha:</strong> <br>
            </p>
            <section>
                <h2>1 MOTIVO DE CONSULTA</h2>
                <div class="highlight">
                    @Model.EnfermedadConsulta
                </div>
            </section>
            <section>
                <h2>2 ANTECEDENTES PERSONALES</h2>
                <p class="subheading">DATOS CLÍNICO - QUIRURGICOS RELEVANTES Y GINECO OBSTÉTRICOS</p>
                <div class="highlight">
                </div>
            </section>
            <section>
                <h2>3 ANTECEDENTES FAMILIARES</h2>
                <table class="familiares">
                    <tr>
                        <td>1. CARDIOPATÍA</td>
                        <td>
                            @(Model.Cardiopatia == "Sí" ? "X" : " ")

                        </td>
                        <td>2. DIABETES</td>
                        <td>  @(Model.Diabetes == "Sí" ? "X" : " ")</td>
                        <td>3. ENF. C. VASCULAR</td>
                        <td></td>
                        <td>4. HIPERTENSIÓN</td>
                        <td> @(Model.Hipertension == "Sí" ? "X" : " ")</td>
                        <td>5. CÁNCER</td>
                        <td></td>
                        <td>6. TUBERCULOSIS</td>
                        <td>  @(Model.Tuberculosis == "Sí" ? "X" : " ")</td>
                        <td>7. ENF. MENTAL</td>
                        <td>  @(Model.EnfMental == "Sí" ? "X" : " ")</td>
                        <td>8. ENF. INFECCIOSA</td>
                        <td> @(Model.EnfInfecciosa == "Sí" ? "X" : " ")</td>
                        <td>9. MALFORMACIÓN</td>
                        <td></td>
                        <td>10. OTRO</td>
                        <td> @(Model.Otro == "Sí" ? "X" : " ")</td>
                    </tr>
                </table>
            </section>
            <section>
                <h2>4 ENFERMEDAD O PROBLEMA ACTUAL</h2>
                <div class="highlight">
                    @Model.DiagnosticoDescripcion
                </div>
            </section>
            <section>
                <h2>5 REVISIÓN ACTUAL DE ÓRGANOS Y SISTEMAS</h2>
                <p>CP = CON EVIDENCIA DE PATOLOGÍA: MARCAR "X" Y DESCRIBIR ABAJO ANOTANDO EL NÚMERO Y LETRA CORRESPONDIENTES</p>
                <p>SP = SIN EVIDENCIA DE PATOLOGÍA: MARCAR "X" Y NO DESCRIBIR</p>
                <table class="revision">
                    <tr>
                        <td>CP</td>
                        <td>SP</td>
                        <td>ÓRGANO</td>
                        <td>CP</td>
                        <td>SP</td>
                        <td>ÓRGANO</td>
                        <td>CP</td>
                        <td>SP</td>
                        <td>ÓRGANO</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Órgano de los Sentidos</td>
                        <td></td>
                        <td></td>
                        <td>Cardiovascular</td>
                        <td></td>
                        <td></td>
                        <td>Genital</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Respiratorio</td>
                        <td></td>
                        <td></td>
                        <td>Digestivo</td>
                        <td></td>
                        <td></td>
                        <td>Urinario</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Músculo Esquelético</td>
                        <td></td>
                        <td></td>
                        <td>Endocrino</td>
                        <td></td>
                        <td></td>
                        <td>Hemo Linfático</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Nervioso</td>
                    </tr>
                </table>
            </section>
            <section>
                <h2>6 SIGNOS VITALES Y ANTROPOMETRÍA</h2>
                <table class="signos">
                    <tr>
                        <td>FECHA DE MEDICIÓN</td>
                        <td> @Model.FechacreacionConsulta</td>
                    </tr>
                    <tr>
                        <td>TEMPERATURA °C</td>
                        <td>@Model.TemperaturaConsulta</td>
                    </tr>
                    <tr>
                        <td>PRESIÓN ARTERIAL</td>
                        <td>@Model.PresionarterialdiastolicaConsulta</td>
                        <td>@Model.PresionarterialsistolicaConsulta</td>
                    </tr>
                    <tr>
                        <td>PULSO / min</td>
                        <td>@Model.PulsoConsulta</td>
                    </tr>
                    <tr>
                        <td>FRECUENCIA RESPIRATORIA</td>
                        <td>@Model.FrecuenciarespiratoriaConsulta</td>
                    </tr>
                    <tr>
                        <td>PESO / Kg</td>
                        <td>@Model.PesoConsulta</td>
                    </tr>
                    <tr>
                        <td>TALLA / cm</td>
                        <td>@Model.TallaConsulta</td>
                    </tr>
                </table>
            </section>
            <section>
                <h2>7 EXAMEN FÍSICO REGIONAL</h2>
                <p>CP = CON EVIDENCIA DE PATOLOGÍA: MARCAR "X" Y DESCRIBIR ABAJO ANOTANDO EL NÚMERO Y LETRA CORRESPONDIENTES</p>
                <p>SP = SIN EVIDENCIA DE PATOLOGÍA: MARCAR "X" Y NO DESCRIBIR</p>
                <table class="examen">
                    <tr>
                        <td>CP</td>
                        <td>SP</td>
                        <td>REGIÓN</td>
                        <td>CP</td>
                        <td>SP</td>
                        <td>REGIÓN</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Cabeza</td>
                        <td>
                            @(Model.Cabeza == "Sí" ? "X" : " ")
                        </td>
                        <td></td>
                        <td>Cuello</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Tórax</td>
                        <td></td>
                        <td></td>
                        <td>Abdomen</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Pelvis</td>
                        <td></td>
                        <td></td>
                        <td>Extremidades</td>
                    </tr>
                </table>
            </section>
            <section>
                <h2>8 DIAGNÓSTICO</h2>
                <table class="diagnostico">
                    <tr>
                        <td>PRE</td>
                        <td>DEF</td>
                        <td>DIAGNÓSTICO</td>
                        <td>CIE</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>@Model.DiagnosticoConsulta</td>
                        <td></td>
                    </tr>
                </table>
            </section>
            <section>
                <h2>9 PLANES DE TRATAMIENTO</h2>
                <div class="highlight">
                </div>
                <p><strong>Fecha:</strong></p>
                <p><strong>Hora:</strong></p>
                <p><strong>Nombre del Profesional:</strong></p>
                <p><strong>Código:</strong></p>
            </section>
            <footer>
                <p>SNS-MSP / HCU-form.002 / 2008 CONSULTA EXTERNA - ANAMNESIS Y EXAMEN FÍSICO</p>
            </footer>
        </div>
    </div>
</body>
</html>
